In [157]:
import pandas as pd

In [158]:
df = pd.read_csv('./test.csv', header=None)

In [159]:
df.head()

                                      0
0  make_img_light.html:185 here 221 319
1  make_img_light.html:185 here 227 318
2  make_img_light.html:185 here 219 218
3  make_img_light.html:185 here 229 215
4  make_img_light.html:185 here 236 311

In [160]:
len(df)

9

In [161]:
x = 'imgpath.html:223 dot-0 here  42 276 15 156'

In [162]:
string = '';
sub = 'here'
for index, row in df.iterrows():
    hereindex = row.tolist()[0].index(sub)
    xywh = row.tolist()[0].strip()[(hereindex+4):]
    newxywh = xywh.split(' ')
#     print(newxywh)
#     break
    x = newxywh[1]
    y = newxywh[2]
    string += ('[' + str(x) + ',' + str(y) + '],')
print(string)

[221,319],[227,318],[219,218],[229,215],[236,311],[236,317],[232,322],[223,327],[221,319],